<link rel="stylesheet" href="styles/cartItem.css"></link>

<div class="cartItem">
    <div class="cartItemInfo">
        <img src="img/logo.jpg">
        <span>Item</span>
    </div>
    <a>X</a>
</div>