<link rel="stylesheet" href="styles/fCategory.css"></link>

<div class="fCategory">
    <div class="fHeader">
        <h3>category a</h3>
    </div>
    <ol>
        <li class="fOption">
            <a>
                option a
            </a>
        </li>
        <li class="fOption">
            <a>
                option b
            </a>
        </li>
    </ol>
</div>