<link rel="stylesheet" href="styles/filterCategory.css"></link>

<div class="filterCategory">
    <div class="filterHeader">
        <h3 class="headerText">category a</h3>
    </div>
    <ol class="ol">
        <li class="filterOption">
            <a class="option">
                option a
            </a>
        </li>
        <li class="filterOption">
            <a class="option">
                option b
            </a>
        </li>
    </ol>
</div>