<link rel="stylesheet" href="styles/filterCategory.css"></link>

<div class="filterCategory">
    <div class="filterHeader">
        <h3>category a</h3>
    </div>
    <ol>
        <li class="filterOption">
            <a>
                option a
            </a>
        </li>
        <li class="filterOption">
            <a>
                option b
            </a>
        </li>
    </ol>
</div>