<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
        <script src="/js/script.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="wrappa">
                <div class="header">
                    <div class="name">
                        <h1><%= title %></h1>
                    </div>
                    <div class="btns">
                        
                    </div>
                </div>
                <div class="content">
                    <div class="filters">
                        <%- include('partials/fCategory') %>
                    </div>
                    <div class="catalog">
                        <% for (var i = 0; i < items.length; i++) { %>
                            <%- include('partials/cItem', items[i]) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>