<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
        <script src="/js/script.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <span>cafe</span>
                <div id="btns">
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                </div>
            </header>
            <div class="content">
                <div class="filters">
                    <%- include('partials/fCategory') %>
                </div>
                <div class="catalog">
                    <span class="catalogItem">1</span>
                    <span class="catalogItem">2</span>
                    <span class="catalogItem">3</span>
                    <span class="catalogItem">4</span>
                    <span class="catalogItem">5</span>
                    <span class="catalogItem">6</span>
                    <span class="catalogItem">7</span>
                    <span class="catalogItem">8</span>
                    <span class="catalogItem">9</span>
                    <span class="catalogItem">10</span>
                    <span class="catalogItem">11</span>
                    <span class="catalogItem">12</span>
                </div>
            </div>
        </div>
    </body>
</html>