<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
        <script src="/js/script.js"></script>
    </head>
    <body>
        <!-- <header>
            <span>cafe</span>
            <div id="btns">
                <button>1</button>
                <button>2</button>
                <button>3</button>
            </div>
        </header> -->
        <div id="wrapper">
            <div class="content">
                <div class="filters">
                    <span class="filterBox">A</span>
                    <span class="filterBox">B</span>
                    <span class="filterBox">C</span>
                    <span class="filterBox">D</span>
                    <span class="filterBox">E</span>
                    <span class="filterBox">F</span>
                    <span class="filterBox">G</span>
                    <span class="filterBox">H</span>
                </div>
                <div class="catalog">
                    <span class="catalogItem">1</span>
                    <span class="catalogItem">2</span>
                    <span class="catalogItem">3</span>
                </div>
            </div>
        </div>
    </body>
</html>