.cartItem {
    height: 64px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 4px;
    border-bottom: 1px solid var(--brd-col);
    cursor: pointer;

    .cartItemInfo {
        user-select: none;
        display: flex;
        gap: 8px;
        justify-content: flex-start;
        align-items: center;

        .cartItemImage {
            width: 64px;
            height: 64px;
            border-right: 1px solid var(--brd-col);
        }
    
        .cartItemName {
            font-size: 15pt;
        }
    }

    .a {
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
    }
}