.cItem {
    background-color: var(--bg-col);
    border-radius: 2px;
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center top;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;

    span {
        font-weight: bold;
        
    }
}