.fCategory {
    .fHeader {
        h3 {
            color: var(--txt-header-col);
            font-size: 11pt;
            margin: 0;
            padding: 12px 12px 8px 8px;
        }
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 1px;
        margin: 0;
        padding: 0;
        list-style: none;

        .fOption {
            border-radius: 4px;

            :hover {
                background-color: var(--bg-col);
            }
        }

        li {
           a {
            display: flex;
            padding: 12px 12px 12px 12px;
           } 
        }
    }
}