:root{
    font-family: Arial, Helvetica, sans-serif;
    --bg-col: #bdbdbd;
    --dbg-bg-col: #9273e7;
    --dbg-header-bg-col: #f09b69;
    --dbg-content-bg-col: #a169f0;
    --dbg-item-bg-col: #ff577b;
}

body {
    background-color: var(--bg-col);
    margin: 0;
}

header {
    background-color: var(--dbg-header-bg-col);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px 12px 8px;
}

header #btns {
    justify-content: flex-end;
}

#wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 0 12% 0 12%;
    column-gap: 8px;
}

.filters {
    background-color: var(--dbg-header-bg-col);
    display: flex;
    flex-direction: column;
    width: 240px;
    min-width: 240px;
    max-width: 240px;
}

.catalog {
    /* background-color: var(--dbg-bg-col); */
    display: block;
    float: left;
}