:root{
    font-family: Arial, Helvetica, sans-serif;
    --bg-col: #F8F9FC;
    --bg-container-col: #ffffff;
    --bg-open-col: #7fe66c;
    --bg-close-col: #ed0e0e;
    --brd-col: #E0E0E0;
    --txt-header-col: #222838;
    --checkout-btn-col: #7174ff;
}

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--bg-col);
    /* background-image: url(/img/zlogo.png); */
    background-repeat: no-repeat;
    background-position: left, center;
    background-size: 30%;
}

.wrapper {
    position: relative;
    top: 5vh;
    margin: 0 8%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 95vh;
    overflow: hidden;
}

.mWrapper {
    margin: 0;
    top: unset;
    gap: unset;
    height: unset;
}

.wrappa {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex: 1;
}

.header {
    position: sticky;
    top: 0;
    background-color: var(--bg-container-col);
    border: 1px solid var(--brd-col);
    border-radius: 6px;
    padding: 16px 12px 16px 12px;
    display: flex;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    .name {
        .headerText {
            color: var(--header-col);
            font-size: 18pt;
            margin: 0;
        }

        .mHeaderText {
            font-size: 4em;
        }
    }

    .mHeaderBtn {
        color: black;
    }

    .alignRight {
        justify-content: flex-end;

        .status {
            padding: 6px 12px 6px 12px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            
            
            span {
                font-weight: bold;
                font-size: 12pt;
            }
        }
    }
}

.mHeader {
    padding: 1em 1em 1em 1em;
}

.container {
    background-color: var(--bg-container-col);
    border: 1px solid var(--brd-col);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    flex: 1;
    height: 82vh;

    transition: 0.2s;
    filter: none;
}

.containerDisable {
    pointer-events: none;

    transition: 0.2s;
    filter: grayscale();
}

.mContainer {
    height: 100vh;
}

#content {
    flex: 1;
}

#cart {
    flex-direction: column;
    padding: 0;
    flex: 0 0 340px;
    justify-content: space-between;

    h1 {
        margin: 0;
        color: var(--header-col);
    }
}

.filters {
    display: flex;
    flex-direction: column;
    width: 240px;
    flex: 0 0 240px;
}

.catalog {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
    flex: 1;
    flex-wrap: wrap;
    padding-top: 8px;
    align-items: center;
    justify-content: center;
}

.modifyInfo {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid var(--brd-col);    
    padding-bottom: 4px;
}

.mModifyInfo {
    border-bottom: 0.2em solid var(--brd-col);
}

.modifyImage {
    height: 330px;
    width: 340px;
}

.mModifyImage {
    height: 64em;
    width: 64em;
}

.modifyText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12px 0 12px;
    margin: 0;

    color: white;
    mix-blend-mode: difference;

    .name {
        margin: 0;
        padding: 0;
    }

    .mName {
        font-size: 4em;
    }
    
    .price {
        margin: 0;
        padding: 0;
    }

    .mPrice {
        font-size: 4em;
    }
}

.mModifyText {
    padding: 0 4em 0 1em;
}

.modifiers {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 2px;
    padding: 6px 10px 6px 10px;

    .slider {
        display: flex;
        flex-direction: column;
        column-gap: 4px;

        .modifierName {
            font-size: 9pt;
            margin: 0;
            padding: 0;
        }
        
        .mModifierName {
            font-size: 2em;
        }

        .bar {
            display: flex;
            flex-direction: row;
            row-gap: 4px;

            .value {
                width: 100%;
                margin: 2px 6px 2px 6px;
            }

            .mValue {
                width: 94vw;
            }

            .value::-webkit-slider-thumb {
                width: 4px;
                height: 4px;
                cursor: pointer;
            }

            .range {
                font-size: 8pt;
                margin: 0;
                padding: 0;
                align-self: center;
                user-select: none;
            }

            .mRange {
                font-size: 1.5em;
            }

        }

        .mBar {
            row-gap: 1em;
        }
    }

}

.checkoutContainer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    margin-top: auto;
    gap: 8px;
    padding-left: 8px;
    padding-right: 8px;
    
    .checkoutButton {
        cursor: pointer;
        background-color: #FDFDFD;
        border: 1px solid #00000017;
        border-radius: 4px;
        display: block;
        margin: auto;
        padding: 0;
        height: 48px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 16pt;
        color: #262626;

        transition: 0.3s;
        box-shadow: 0.5px 0.5px 4px 0px #0000;
    }

    .mCheckoutButton {
        height: 6em;
    }

    .checkoutButton:hover {
        transition: 0.5s;
        box-shadow: 0.5px 0.5px 4px 0px #00000052;
    }

    #deleteBtn {
        width: 40%;
        background-color: #fff4f4;
        color: #2f2f2f;
        border: none;

        transition: 0.3s;
        box-shadow: 0.5px 0.5px 4px 0px #ee828270;
    }

    #deleteBtn:hover {
        transition: 0.5s;
        box-shadow: 0.5px 0.5px 4px 0px #ee8282;
    }
}

.mCheckoutContainer {
    gap: 1.5em;
    padding-left: 1em;
    padding-right: 4em;
    padding-bottom: 10em;
}