:root{
    font-family: Arial, Helvetica, sans-serif;
    --bg-col: #bdbdbd;
    --dbg-bg-col: #9273e7;
    --dbg-header-bg-col: #f09b69;
    --dbg-content-bg-col: #a169f0;
    --dbg-item-bg-col: #ff577b;

    --header-col: #222838;
}

body, html {
    background-color: #F8F9FC;
    margin: 0;
    height: 100%;
}

.wrapper {
    position: relative;
    top: 10%;
    transform: translateY(-10%);
    margin: 0 8% 0 8%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wrappa {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.header {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    padding: 16px 12px 16px 12px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.name {

    h1 {
        color: var(--header-col);
        font-size: 18pt;
        margin: 0;
    }
}

.btns {
    justify-content: flex-end;
}

.container {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    padding: 8px;
}

#content {
    flex: 1;
}

#cart {
    flex-direction: column;
    width: 300px;

    h1 {
        margin: 0;
        color: var(--header-col);
    }
}

.filters {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.catalog {
    display: block;
    float: left;
}